*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../img/2843425.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-attachment: fixed;
}

.container-formulario {
    width: 80%;
    margin: 0 auto;
}

/*---------------Header-----------*/

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.enlaces {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

a {
    display: block;
    color: #fff;
}

/*-----------Main-------------*/

main {
    display: flex;
    justify-content: space-between;
}

.imagen-propia {
    width: 45%;
}

.imagen-propia img {
    width: 100%;
    border-radius: 3em;
}

.formulario {
    width: 45%;
    display: flex;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario input {
    display: block;
    width: 100%;
    padding: 1.8em;
    background: #b5b5db;
    margin: 1em 0;
    border-radius: 1em;
    border:none ;
    border-bottom: violet;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: solid .3em transparent;
    color: #000;

}

.formulario .entrada:focus {
    transition: all .5s;
    background: #fff;
    border-bottom:solid .3em #6f27f5;
}

.formulario .boton {
    background: #6f27f5;
    color: #fff;
}

.formulario .boton:focus {
    transition: all 1s;
    background: #46dd52;
}

footer{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.enlaces {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:1024px) {
    
    .formulario input {
        padding: 1.2em;
        font-size: .8em;

    }
}

@media screen and (max-width:768px){

    main {
        justify-content: center;
    }

    .imagen-propia {
        display: none;
    }

    .formulario {
        width: 80%;
    }
}

@media screen and (max-width:425px){

    nav {
        flex-direction: column;
        align-items: center;
    }

    .enlaces {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}